<%- include('../helper/Heading-Page.ejs', {title:'Add'}); %>
<section class="content">
   <div class="box box-primary">
        <div class="filterBar">
            <div class="filterBarRight">
                <a href="/admin/<%= extraVar.viewDirectory %>/<%= extraVar.product_id %>" class="btn-view-list"><i class="fa fa-list" aria-hidden="true"></i> View Listing</a>
            </div>
        </div>
        <!-- form start -->
                <form role="form" id='formSubmit' name='' method='post' action='/admin/<%= extraVar.viewDirectory %>/create' enctype="multipart/form-data">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Business Type Name<em>*</em></label>
                                    <input type="text" class="form-control" id="business_type_name"  name='business_type_name' >
                                    <label class="error_mgs_lable" id="business_type_name_error"></label>
                                 </div>  
                            </div>
                             <div class="col-md-12">
                                <div class="form-group">
                                    <div class="chk-outer">
                                                              
                                            <input type="checkbox" name="is_active"  id="is_active" checked >  <label for="is_active">    Status
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                         <div class="row">
                            <div class="col-md-12 text-right">
                                <%- include('../helper/commonHtml.ejs', {htmlType:'SaveCancel'}); %>
                            </div>
                        </div>
                    </div>
                   
                </form>
            </div>
           
</section>

<script>
    
</script>