<%# include ../helper/breadcrumb.ejs %>
<%- include('../helper/Heading-Page.ejs', {title:'Listing'}); %>

<section class="content">
     <div class="box box-primary">
                <%- include('../helper/commonHtml.ejs', {htmlType:'AddButtom'}); %>
                <!-- /.box-header -->
                <div class="box-body">

                    <form id='searchData' name='searchData' enctype="multipart/form-data" method='post'>
                        <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th>#Id</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Name</th>
                                <th>Value(%)</th>
                                <th>Default Bonus</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>


                            <% results.rows.forEach(function(rows){ %>
                            <tr>
                                <td><%= rows.id %></td>
                                <td><%= dateFormate(rows.start_date) %></td>
                                <td><%= dateFormate(rows.end_date) %></td>
                                <td><%= rows.bonus_name %></td>
                                <td><%= rows.bonus_value %></td>

                                <td>
                                    <% if(rows.is_default==1){ %>
                                    <span class="label label-success">
                                    <% if(rows.product_type_id==1 || rows.product_type_id==3){ %> 
                                    For
                                    <% }else{ %>
                                    YES
                                    <% } %>

                                    <% 
                                    var typeFor='';
                                    if(rows.product_type_id==1){ 
                                    typeFor='Nyaya Card';
                                    }else if(rows.product_type_id==3){
                                    typeFor='Membership';
                                    }

                                    %>
                                    <%= typeFor %>
                                    </span>                               
                                    <% }else{ %>
                                    <span class="label label-danger">NO</span>
                                    <% } %>

                                </td>
                                
                                <td>
                                    <% if(rows.is_active==1){ %>
                                    <span class="label label-success">Active</span>                               
                                    <% }else{ %>
                                    <span class="label label-danger">Inactive</span>
                                    <% } %>

                                </td>
                                <td>

                                    <a class="btn btn-success btn-xs" href="/admin/<%= extraVar.viewDirectory %>/edit/<%= rows.id %>/<%= extraVar.product_id %>" title="Edit" ><i class="fa fa-edit"></i></a>

                                    <a class="btn btn-danger btn-xs deleteEntry" statusUpdated="<%= (rows.is_active==1)? 0:1 %>" action="/admin/<%= extraVar.viewDirectory %>/delete/<%= rows.id %>/<%= extraVar.product_id %>" href="javascript:void(0);" title="Active/Inactive"><i class="fa <%= (rows.is_active==1)? 'fa-lock':'fa-unlock' %>"></i></a>
                                </td>

                            </tr>
                            <% }); %>


                        </table>
                    </div>
                        <%# include('../element/helper.ejs', {type:'empty_table',data:data}); %>
                    </form>
                </div>
                <!-- /.box-body -->
                 <div class="box-footer">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <%- include ../helper/pagination_with_product_id.ejs %>

                        </div>
                    </div>
                         
                </div>
        <!-- /.col -->
    </div>
</section>