<%- include('../helper/Heading-Page.ejs', {title:'Edit'}); %>
<section class="content">
   <!-- general form elements -->
            <div class="box box-primary">
                <div class="filterBar">
            <div class="filterBarRight">
               
                <a href="/admin/<%= extraVar.viewDirectory %>/<%= extraVar.product_id %>" class="btn-view-list"><i class="fa fa-list" aria-hidden="true"></i> View Listing</a>
            </div>
        </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" id='formSubmit' name='' method='post' action='/admin/<%= extraVar.viewDirectory %>/update' enctype="multipart/form-data">
                    <input type='hidden' name='id' value='<%= results.my_model.id %>'>
                    <input type="hidden" value="<%= extraVar.product_id %>" name="product_id" >
                    <div class="box-body">
                        <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Document Head<em>*</em></label>

                                        <input type="text" class="form-control" id="service_details_name" name='service_details_name' value='<%= results.my_model.service_details_name %>'>
                                        <label class="error_mgs_lable" id="service_details_name_error"></label>

                                    </div>
                                </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Holiday period or Dry period (In Months)<em>*</em></label>

                                        <input type="text" class="form-control" id="dry_period"  name='dry_period' value='<%= results.my_model.dry_period %>'>
                                        <label class="error_mgs_lable" id="dry_period_error"></label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                    <label for="exampleInputEmail1">Maximum Duration in Months for which Nyaya Card can be issued<em>*</em></label>
                                    <input type="text" class="form-control" id="age_for_service"  name='age_for_service' value='<%= results.my_model.age_for_service %>'>
                                    <label class="error_mgs_lable" id="age_for_service_error"></label>

                                </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Document Name<em>*</em></label>

                                        <input type="text" class="form-control" id="document_name" name='document_name' value=''>
                                        <label class="error_mgs_lable" id="document_count_error"></label>
                                    </div>

                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                    <label for="exampleInputEmail1" class="opacity-0lab"></label>
                                    <button type='button' class='btn btn-primary addMoreDocument'>
                                        <i class='fa fa-plus-square' aria-hidden='true'></i> Add More Document
                                    </button>
                                </div>
                                </div>
                            </div>
                            <div class="documentListingDiv" >
                                <div class="table-responsive no-padding">
                                    <table class="table table-hover documentListingTable">
                                        <tr>
                                            <th>S.No.</th>
                                            <th>Document Name</th>
                                            <th>Action</th>
                                        </tr>

                                        <% results.my_model.service_detail_documents.forEach(function(rows, key) { %>

                                        <tr>
                                            <td><%= key+1 %></td>
                                            <td>
                                                <%= rows.documents_name %>
                                                <input class="hiddenDocValue" type="hidden" name="service_detail_documents[<%= key %>][documents_name]" value="<%= rows.documents_name %>">
                                                <input type="hidden" name="service_detail_documents[<%= key %>][service_detail_id]" value="<%= results.my_model.id %>">
                                            </td>
                                            <td>
                                                <a class="btn btn-danger btn-xs deleteDocument" arrayvalue="<%= rows.documents_name %>" arrarindex="<%= key %>" href="javascript:void(0);"><i class="fa fa-close"></i></a>
                                            </td>
                                        </tr>
                                        <% }) %>
                                    </table>
                                </div>
                             </div>
                            <div class="row">
                               
                                <div class="col-md-2">
                                    <div class="form-group" style="margin-top:10px">
                                        <div class="chk-outer">
                                               <!-- <label class="opacity-0lab"></label>-->
                                                <input type="checkbox" name="is_renewable" <%= (results.my_model.is_renewable==1)? 'checked':''; %>  id="is_renewable"  > <label for="is_renewable">Is Renewable</label>
                                            
                                        </div>
                                        <label class="error_mgs_lable" id="is_renewable_error"></label>
                                     </div>

                                </div>
                                <div class="col-md-5">
                                    <div class="form-group renewPercentageDiv" renewPercentageValue="<%=results.my_model.renew_percentage%>">
                                    </div>
                                </div>
                                
                                <div class="col-md-12">
                                    <div class="durationWisePercentageDiv" >
                                        <div class="panel-heading">Define Duration wise Percentage value on the standard calculated Fee</div>
                                
                                        <div class="table-responsive no-padding">
                                        <table class="table table-hover durationWisePercentageTable">
                                            <% results.my_model.service_detail_duration_wise_percentages.forEach(function(rows, key) { %>
                                            <tr>
                                                <td> <b>For <%= rows.no_of_year %> Year</b></td>
                                                <td>
                                                    <input type="text" class="form-control value_of_percentage" name="service_detail_duration_wise_percentages[<%= key %>][value_of_percentage]" value="<%= rows.value_of_percentage %>" placeholder="Value in Percentage">
                                            <input type="hidden" name="service_detail_duration_wise_percentages[<%= key %>][service_detail_id]" value="<%= results.my_model.id %>">
                                            <input type="hidden" name="service_detail_duration_wise_percentages[<%= key %>][no_of_year]" value="<%= rows.no_of_year %>">
                                            <label class="error_mgs_lable" id="value_of_percentage_<%= rows.no_of_year %>_error"></label>
                                            </td>
                                            <td>%</td>
                                            </tr>
                                            <% }) %>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                
                                </div>

                            </div>

                                
                            </div>
                         </div>
                            <div class="panel-heading no-radius">
                                    Discount to Consumer & Exemptions 
                            </div>

                        <div class="panel-body">
                             <div class="table-responsive no-padding">
                                <table class="table table-hover">
                                    <tr>
                                        <th></th>
                                        <th>Discount to Consumer <label><em>*</em><label></th>
                                        <th>Exemption on Fee Payable <label><em>*</em><label></th>
                                        <th>Exemption on Appeal Fee <label><em>*</em><label></th>
                                        <th>Exemption on Additional Disputes <label><em>*</em><label></th>
                                    </tr>
                                    <% results.slabs.forEach(function(rows, key){ %>
                                    <tr>
                                        <td>
                                            <input type="hidden" name="service_detail_slabs[<%= key %>][slab_id]" value="<%= rows.id %>">
                                            <input type="hidden" name="service_detail_slabs[<%= key %>][service_detail_id]" value="<%= results.my_model.id %>">
                                            <b><%= rows.name %></b>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" name="service_detail_slabs[<%= key %>][discount_to_consumer]" value="<%= (extraVar.keyValueSlabs[rows.id])? extraVar.keyValueSlabs[rows.id].discount_to_consumer:'' %>" placeholder="Value in Percentage">
                                    <label class="error_mgs_lable" id="discount_to_consumer_<%= rows.id %>_error"></label>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" name="service_detail_slabs[<%= key %>][examption_fee_payable]" value="<%= (extraVar.keyValueSlabs[rows.id])? extraVar.keyValueSlabs[rows.id].examption_fee_payable:'' %>" placeholder="Value in Percentage">
                                    <label class="error_mgs_lable" id="examption_fee_payable_<%= rows.id %>_error"></label>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" name="service_detail_slabs[<%= key %>][examption_appeal_payable]" value="<%= (extraVar.keyValueSlabs[rows.id])? extraVar.keyValueSlabs[rows.id].examption_appeal_payable:'' %>" placeholder="Value in Percentage">
                                    <label class="error_mgs_lable" id="examption_appeal_payable_<%= rows.id %>_error"></label>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" name="service_detail_slabs[<%= key %>][examption_disputes]" value="<%= (extraVar.keyValueSlabs[rows.id])? extraVar.keyValueSlabs[rows.id].examption_disputes:'' %>" placeholder="Value in Percentage">
                                    <label class="error_mgs_lable" id="examption_disputes_<%= rows.id %>_error"></label>
                                    </td>
                                    </tr>
                                    <% }); %>

                                </table>
                            </div>
                            <label>NOTE: Discount to Consumer will be applicable to the final calculated fee</label>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="chk-outer">
                                                                 
                                            <input type="checkbox" name="is_active"  id="is_active" <%= (results.my_model.is_active==0)? '':'checked' %> > <label for="is_active">  Status
                                        </label>
                                    </div>
                                 </div>
                             </div>
                        </div>
                    </div>

                        

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                 <%- include('../helper/commonHtml.ejs', {htmlType:'SaveCancel'}); %>
                            </div>
                        </div>
                         
                    </div>
                  </form>
            </div>
            <!-- /.box -->


            <!-- /.box -->

</section>

<script>
    var DocumentNameArr = [];
    var ValueOfPercentageArr = [];
    var service_details_id = $("input[name='id']").val();
    $(function () {

        $(".hiddenDocValue").each(function () {
            DocumentNameArr.push($(this).val());
        });
        
        $(".value_of_percentage").each(function () {
            ValueOfPercentageArr.push($(this).val());
        });
        console.log(ValueOfPercentageArr);
        renewPercentage(0);
    });

    function renewPercentage(clickEvent) {

        var renewPercentageValues = $('.renewPercentageDiv').attr('renewPercentageValue');
        var renewPercentageHtml = "<span style='width: 100%;'><input type='text' class='form-control' id='renew_percentage' placeholder='No Dispute Bonus Percentage' name='renew_percentage' value='" + renewPercentageValues + "'></span><span>% (No Dispute Bonus Percentage)</span><lable class='error_mgs_lable' id='renew_percentage_error'></lable>";

        if (renewPercentageValues != '' || clickEvent) {
            $('.renewPercentageDiv').html(renewPercentageHtml);
        }
    }

    $(document).on('click', '#is_renewable', function () {
        if ($(this).is(':checked')) {
            renewPercentage(1);
        } else {
            $('.renewPercentageDiv').html('');
        }

    });

    $(document).on('click', '.addMoreDocument', function () {

        var thisObj = $(this);
        var service_details_name = $('#document_name').val();
        if (service_details_name != '') {
            DocumentNameArr.push(service_details_name);
        } else {
            bootstrapNotify.showMessage("Please enter the document name", "danger");
            return false;
        }

        $('#document_name').val('');
        if (DocumentNameArr.length >= 1) {
            $('.documentListingDiv').show();
        }
        appendDocumentHtml();
    });

    $(document).on('click', '.deleteDocument', function (e) {

        if (!confirm("Are you sure you want to delete document '"+ $(this).attr('arrayvalue') + "' ?")) {
            return false;
        } else {
            var thisObj = $(this);
            var arrarindex = $(this).attr('arrarindex');
            $(thisObj).parents('tr').remove();

            DocumentNameArr.splice(arrarindex, 1);
            if (DocumentNameArr.length < 1) {
                $('.documentListingDiv').hide();
            }
            appendDocumentHtml();
        }
    });

    function appendDocumentHtml() {
        $(".documentListingTable").find("tr:gt(0)").remove();
        console.log(DocumentNameArr);
        $.each(DocumentNameArr, function (index, value) {
            var indexPlus = parseInt(index) + 1;
            var rowHtml = '<tr><td>' + indexPlus + '</td><td>' + value + '<input type="hidden" name="service_detail_documents[' + index + '][documents_name]" value="' + value + '"><input type="hidden" name="service_detail_documents['+index+'][service_detail_id]" value="'+service_details_id+'"></td><td><a class="btn btn-danger btn-xs deleteDocument" arrayValue="' + value + '" arrarIndex="' + index + '" href="javascript:void(0);" ><i class="fa fa-close"></i></a></td></tr>';
            $('.documentListingTable').append(rowHtml);

        });

    }

    $(document).on('keyup', '#age_for_service', function () {

        var age_for_service_no = $(this).val();

        var inMonths = Math.ceil(parseInt(age_for_service_no) / 12);

        if (age_for_service_no <= 12 || age_for_service_no == '') {
            $('.durationWisePercentageDiv').hide();
        } else {
            $('.durationWisePercentageDiv').show();
            $('.durationWisePercentageTable').html('');
            
            var countValueArr = 0; 
            
            for (var i = 2; i <= inMonths; i++) {
                
                var valueOfPercentage = '';
                if(typeof ValueOfPercentageArr[countValueArr] != 'undefined'){
                    valueOfPercentage = ValueOfPercentageArr[countValueArr]
                }
                var durationWisePercentage = '<tr><td> <b>For ' + i + ' Year</b></td><td><input type="text" class="form-control" name="service_detail_duration_wise_percentages[' + countValueArr + '][value_of_percentage]" value="'+valueOfPercentage+'" placeholder="Value in Percentage"><input type="hidden" name="service_detail_duration_wise_percentages['+countValueArr+'][service_detail_id]" value="'+service_details_id+'"><input type="hidden" name="service_detail_duration_wise_percentages[' + countValueArr + '][no_of_year]" value="' + i + '" ><lable class="error_mgs_lable" id="value_of_percentage_' + i + '_error"></lable></td><td>%</td></tr>';
                $('.durationWisePercentageTable').append(durationWisePercentage);
                countValueArr++;
            }
        }
    });

</script>