

<div class="col-md-4 com-sm-4 col-xs-12">
<div class="form-group custom-select-outer hideSelect" id="hideCountry">
    <label for="exampleInputEmail1">Country</label>

    <select <% if(fromData.level=='country_level'){ %>multiple="multiple"<% } %>  class="form-control select2 " name="franchise_levels[franchise_country_id]" id="franchise_country_id" onChange="getDbValuesByIds(this, 'State', ['country_id'], [Number(this.value)], 'state_name asc', 'franchise_state_id', ['id', 'state_name'], ['franchise_division_id', 'franchise_district_id', 'franchise_tehsil_id']); <% if(fromData.level=='state_level'){ %>loadParent()<% } %>">
        <option value="">--Please Select--</option>
        <% data.country.forEach(function(value,index){  %>
        <option value="<%= value.id %>" <% if(fromData.country_id==value.id){ %>selected<% } %> ><%= value.country_name %></option>
        <% });  %>

    </select>
    <label class="error_mgs_lable" id="country_id_error"></label>

</div>
</div>
<!--End Line-->




<!--Next Line-->
<% if(fromData.level!='country_level'){ %>
<div class="col-md-4 com-sm-4 col-xs-12">
<div class="form-group custom-select-outer hideSelect" id="hideState">
    <label for="exampleInputEmail1">State</label>

    <select <% if(fromData.level=='state_level'){ %>multiple="multiple"<% } %> class="form-control select2 " name="franchise_levels[franchise_state_id]" id="franchise_state_id" onChange="getDbValuesByIds(this, 'Division', ['state_id'], [Number(this.value)], 'division_name asc', 'franchise_division_id', ['id', 'division_name'], ['franchise_district_id', 'franchise_tehsil_id']); <% if(fromData.level=='division_level'){ %>loadParent()<% } %>"
        >
        <option value="">--Please Select--</option>


        <% data.states.forEach(function(value,index){  %>
        <option value="<%= value.id %>" <% if(fromData.state_id==value.id){ %>selected<% } %>><%= value.state_name %></option>
        <% });  %>

    </select>

    <label class="error_mgs_lable" id="state_id_error"></label>

</div>
</div>
<% } %>


<% if(fromData.level!='country_level' && fromData.level!='state_level'){ %>
<div class="col-md-4 com-sm-4 col-xs-12">
<div class="form-group custom-select-outer hideSelect" id="hideDivision">
    <label for="exampleInputEmail1">Division</label>

    <select <% if(fromData.level=='division_level'){ %>multiple="multiple"<% } %> class="form-control select2 " name="franchise_levels[franchise_division_id]" id="franchise_division_id" onChange="getDbValuesByIds(this, 'District', ['division_id'], [Number(this.value)], 'district_name asc', 'franchise_district_id', ['id', 'district_name'], ['franchise_tehsil_id']); <% if(fromData.level=='district_level'){ %>loadParent()<% } %>">
        <option value="">--Please Select--</option>


        <% data.divisions.forEach(function(value,index){  %>
        <option value="<%= value.id %>" <% if(fromData.division_id==value.id){ %>selected<% } %> ><%= value.division_name %></option>
        <% });  %>

    </select>
    <label class="error_mgs_lable" id="division_id_error"></label>

</div>
</div>
<% } %>
<!--End Line-->







<!--Next Line-->
<% if(fromData.level!='country_level' && fromData.level!='state_level' && fromData.level!='division_level'){ %>
<div class="col-md-4 com-sm-4 col-xs-12">
<div class="form-group custom-select-outer hideSelect" id="hideDistrict">
    <label for="exampleInputEmail1">District</label>

    <select <% if(fromData.level=='district_level'){ %>multiple="multiple"<% } %> class="form-control select2 " name="franchise_levels[franchise_district_id]" id="franchise_district_id" onChange="getDbValuesByIds(this, 'Tehsil', ['district_id'], [Number(this.value)], 'tehsil_name asc', 'franchise_tehsil_id', ['id', 'tehsil_name'], []); <% if(fromData.level=='tehsil_level'){ %>loadParent()<% } %>"
        >
        <option value="">--Please Select--</option>


        <% data.districts.forEach(function(value,index){  %>
        <option value="<%= value.id %>" <% if(fromData.district_id==value.id){ %>selected<% } %> ><%= value.district_name %></option>
        <% });  %>

    </select>
    <label class="error_mgs_lable" id="district_id_error"></label>

</div>
</div>
<% } %>

<% if(fromData.level!='country_level' && fromData.level!='state_level' && fromData.level!='division_level' && fromData.level!='district_level'){ %>
<div class="col-md-4 com-sm-4 col-xs-12">
<div class="form-group custom-select-outer hideSelect" id="hideTehsil">
    <label for="exampleInputEmail1">Tehsil</label>

    <select <% if(fromData.level=='tehsil_level'){ %>multiple="multiple"<% } %> class="form-control select2" name="franchise_levels[franchise_tehsil_id]" id="franchise_tehsil_id">
        <option value="">--Please Select--</option>


        <% data.tehsils.forEach(function(value,index){  %>
        <option value="<%= value.id %>" <% if(fromData.tehsil_id==value.id){ %>selected<% } %> ><%= value.tehsil_name %></option>
        <% });  %>

    </select>
    <label class="error_mgs_lable" id="tehsil_id_error"></label>

</div>
</div>
<% } %>


<% if(fromData.level!='country_level'){ %>
<div class="col-md-4 com-sm-4 col-xs-12">
<div class="form-group custom-select-outer hideSelect">
    <label for="exampleInputEmail1">Select Parent Franchise</label>

    <select class="form-control select2 " name="franchise_levels[parent_franchise]" id="parent_franchise">
        <option value="">--Please Select--</option>
    </select>
    <label class="error_mgs_lable" id="country_id_error"></label>

</div>
</div>
<% } %>
