<%- include('../helper/Heading-Page.ejs', {title:'Add'}); %>
<section class="content">
    <!-- general form elements -->
        <div class="box box-primary">
            <div class="filterBar">
            <div class="filterBarRight">
                <a href="/admin/<%= extraVar.viewDirectory %>/<%= extraVar.role_type %><%= extraVar.role_id %>"  class="btn-view-list"><i class="fa fa-list" aria-hidden="true"></i> View Listing</a>
            </div>
            </div>
            
            <!-- /.box-header --> 
            <!-- form start -->
                <form role="form" id='formSubmit' name='' method='post' action='/admin/<%= extraVar.viewDirectory %>/create' enctype="multipart/form-data">
                    <div class="box-body">
                        <input type="hidden" value="<%= extraVar.role_id %>" name="role_id" >
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group ">
                                    <label for="exampleInputEmail1"><%= extraVar.titleName %><em>*</em></label>

                                    <input type="text" class="form-control" id="role_type_name" name='role_type_name'>
                                    <label class="error_mgs_lable" id="role_type_name_error"></label>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="chk-outer">
                                                                 
                                            <input type="checkbox" name="is_front_registration"  id="is_front_registration" ><label for="is_front_registration">   Is Front Registration
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="chk-outer">
                                                                 
                                            <input type="checkbox" name="is_active"  id="is_active" checked ><label for="is_active">   Status
                                        </label>
                                    </div>
                                </div>

                             </div>
                            </div>
                        </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                         <div class="row">
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <a href="/admin/<%= extraVar.viewDirectory %>/<%= extraVar.role_type %><%= extraVar.role_id %>" class="btn btn-primary">Cancel</a>
                            </div>
                        </div>
                    </div>
                    
                </form>
            </div>
            <!-- /.box -->


            <!-- /.box -->

        </div>
    </div>
</section>
