<%- include('../helper/Heading-Page.ejs', {title:'Add'}); %>
<section class="content">
   <div class="box box-primary">
        <div class="filterBar">
            <div class="filterBarRight">
                <a href="/admin/<%= extraVar.viewDirectory %>/<%= extraVar.product_id %>"  class="btn-view-list"><i class="fa fa-list" aria-hidden="true"></i> View Listing</a>
            </div>
        </div>
        <!-- /.box-header --> 
        <!-- form start -->
        <form role="form" id='formSubmit' name='' method='post' action='/admin/<%= extraVar.viewDirectory %>/create' enctype="multipart/form-data">
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group custom-select-outer">
                        <label for="exampleInputEmail1">Countries<em>*</em></label>
                        <select   name="country_id" id="country_id" class="select2 form-control" 
                                onChange="getDbValuesByIds(this, 'State', ['country_id', 'is_active'], [Number(this.value), 1], 'state_name asc', 'state_id', ['id', 'state_name'], ['division_is','district_id', 'tehsil_id', 'block_id']);">
                                <option value="">--Please Select--</option>
                                <% results.countries.forEach(function(val, key) { %>
                                <option value="<%= val['id'] %>" ><%= val['country_name'] %></option>
                                <% }); %>
                            </select>
                            <label class="error_mgs_lable" id="country_id_error"></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group custom-select-outer">
                        <label for="exampleInputEmail1">States<em>*</em></label>
                        <select name="state_id" id="state_id" class="select2 form-control">
                            <option value="">--Please Select--</option>
                        </select>
                        <label class="error_mgs_lable" id="state_id_error"></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group ">
                        <label for="exampleInputEmail1">Division Name<em>*</em></label>
                         <input type="text" class="form-control" id="division_name"  name='division_name' >
                        <label class="error_mgs_lable" id="division_name_error"></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                            <label for="exampleInputEmail1">Division Code<em>*</em></label>
                            <input type="text" class="form-control" id="division_code"  name='division_code' >
                            <label class="error_mgs_lable" id="division_code_error"></label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group ">
                            <div class="chk-outer">
                                <input type="checkbox" name="is_active"  id="is_active" checked ><label for="is_active">  Status
                                </label>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <%- include('../helper/commonHtml.ejs', {htmlType:'SaveCancel'}); %>
                </div>
            </div>
        </div>
        </form>
    </div>
</section>

<script>

</script>