<%- include('../helper/Heading-Page.ejs', {title:'Edit Issue'}); %>
<section class="content">
    <!-- general form elements -->

    <div class="box box-primary">
        <div class="filterBar">
            <div class="filterBarRight"> <a href="/admin/<%= extraVar.viewDirectory %>/issue_listings" class="btn-view-list"><i class="fa fa-list" aria-hidden="true"></i> View Listing</a> </div>
        </div>

        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" id='formSubmitMembershipIssue' name='' method='post' action='/admin/membership_plans/create_issue' enctype="multipart/form-data">
            <input type="hidden"  name='id' value="<%=results.id%>">
            <div class="box-body">
                <div class="panel panel-default">
                    <div class="panel-heading">Business info</div>
                    <div class="panel-body">
                        <div class="row deshboard-static">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Business Name<em>*</em></label>
                                    <input type="text" value="<%=results.business_name%>" class="form-control emptyValidation" name='business_name' id="business_name">
                                    <label class="error_mgs_lable" id="business_name_error"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">PAN Card Number<em>*</em></label>
                                    <input type="text" value="<%=results.business_pan_number%>" class="form-control emptyValidation" id="business_pan_number" name='business_pan_number'>
                                    <label class="error_mgs_lable" id="business_pan_number_error"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Business Registration Number</label>
                                    <input type="text" value="<%=results.business_registration_number%>" class="form-control" id="business_registration_number"  name='business_registration_number'>
                                    <label class="error_mgs_lable" id="business_registration_number_error"></label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">GSTIN <em style="color: #ff0000;">*</em></label>
                                    <input type="text" value="<%=results.gstin%>" class="form-control emptyValidation" id="gstin"  name='gstin'>
                                    <label class="error_mgs_lable" id="gstin_error"></label>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group custom-select-outer">
                                    <label for="exampleInputEmail1">Business Type <em style="color: #ff0000;">*</em></label>
                                    <input type="hidden" value="<%=results.business_type_primary_id%>" id="business_type_primary_id" name="business_type_primary_id" >
                                    <select class="form-control select2 onChangeForPrimaryId emptyValidation" name="business_type" id="business_type">
                                        <option value="">--Please Select--</option>
                                        <% data.business_Types.forEach(function(value,index){  %>
                                        <option <% if(value.id == results.business_type_primary_id){ %> selected <% } %> primaryId="<%=value.id%>" value="<%= value.business_type_name %>"><%= value.business_type_name %></option>
                                        <% });  %>
                                    </select>
                                    <label class="error_mgs_lable" id="business_type_error"></label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group custom-select-outer">
                                    <label for="exampleInputEmail1">Business Category <em style="color: #ff0000;">*</em></label>
                                    <input type="hidden" value="<%=results.business_category_primary_id%>" id="business_category_primary_id" name="business_category_primary_id" >
                                    <select class="form-control select2 onChangeForPrimaryId emptyValidation" name="business_category" id="business_category">
                                        <option value="">--Please Select--</option>
                                        <% data.business_category.forEach(function(value,index){  %>
                                        <option <% if(value.id == results.business_category_primary_id){ %> selected <% } %> primaryId="<%=value.id%>" value="<%= value.business_category_name %>"><%= value.business_category_name %></option>
                                        <% });  %>
                                    </select>
                                    <label class="error_mgs_lable" id="business_category_error"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Business Full Address<em>*</em></label>
                                    <input type="text" value="<%=results.business_address%>" class="form-control emptyValidation"  name='business_address' id="business_address">
                                    <label class="error_mgs_lable" id="business_address_error"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Business Email<em>*</em></label>
                                    <input type="text" value="<%=results.business_email%>" class="form-control emptyValidation emailValidation"  name='business_email' id="business_email">
                                    <label class="error_mgs_lable" id="business_email_error"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Business Mobile<em>*</em></label>
                                    <input type="text" value="<%=results.business_mobile%>" class="form-control emptyValidation"  name='business_mobile' id="business_mobile">
                                    <label class="error_mgs_lable" id="business_mobile_error"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Town/Kasba<em>*</em></label>
                                    <input type="text" value="<%=results.business_kasba%>" class="form-control emptyValidation" name='business_kasba' id="business_kasba">
                                    <label class="error_mgs_lable" id="business_kasba_error"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group custom-select-outer">
                                    <label>Country</label>
                                    <input type="hidden" value="<%=results.business_country_primary_id%>" id="business_country_id_primary_id" name="business_country_primary_id" >
                                    <select   name="business_country_id" id="business_country_id" class="select2 inputtxt emptyValidation onChangeForPrimaryId"
                                              formType="agreement" onChange="getDbValuesByIds(this, 'State', ['country_id', 'is_active'], [this.options[this.selectedIndex].getAttribute('primaryId'), 1], 'state_name asc', 'business_state_id', ['id', 'state_name'], ['business_division_id', 'business_district_id', 'business_tehsil_id']);"
                                              >
                                        <% for(var i=0; i < data.countries.length; i++) { %>
                                        <option primaryId="<%= data.countries[i]['id'] %>" value="<%= data.countries[i]['country_name'] %>" > <%= data.countries[i]['country_name'] %> </option>
                                        <% } %>
                                    </select>
                                    <label class="error_mgs_lable" id="business_country_id_error"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group custom-select-outer">
                                    <label>State<em>*</em></label>
                                    <input type="hidden" value="<%=results.business_state_primary_id%>" id="business_state_id_primary_id" name="business_state_primary_id" >
                                    <select   name="business_state_id" id="business_state_id" class="select2 inputtxt emptyValidation onChangeForPrimaryId"
                                              formType="agreement" onChange="getDbValuesByIds(this, 'Division', ['state_id', 'is_active'], [this.options[this.selectedIndex].getAttribute('primaryId'), 1], 'division_name asc', 'business_division_id', ['id', 'division_name'], ['business_district_id', 'business_tehsil_id']);"
                                              >
                                        <option value="">-Please Select-</option>
                                        <% for(var i=0; i < data.business_states.length; i++) { %>
                                        <option <% if(data.business_states[i]['id'] == results.business_state_primary_id){ %> selected <% } %> primaryId="<%= data.business_states[i]['id'] %>" value="<%= data.business_states[i]['state_name'] %>" > <%= data.business_states[i]['state_name'] %> </option>
                                        <% } %>
                                    </select>
                                    <label class="error_mgs_lable" id="business_state_id_error"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group custom-select-outer">
                                    <label>Division<em>*</em></label>
                                    <input type="hidden" value="<%=results.business_division_primary_id%>" id="business_division_id_primary_id" name="business_division_primary_id" >
                                    <select   name="business_division_id" id="business_division_id" class="select2 inputtxt emptyValidation onChangeForPrimaryId"
                                              formType="agreement" onChange="getDbValuesByIds(this, 'District', ['division_id', 'is_active'], [this.options[this.selectedIndex].getAttribute('primaryId'), 1], 'district_name asc', 'business_district_id', ['id', 'district_name'], ['business_tehsil_id']);"
                                              >
                                        <option value="">-Please Select-</option>
                                        <% for(var i=0; i < data.business_divisions.length; i++) { %>
                                        <option <% if(data.business_divisions[i]['id'] == results.business_division_primary_id){ %> selected <% } %> primaryId="<%= data.business_divisions[i]['id'] %>" value="<%= data.business_divisions[i]['division_name'] %>" > <%= data.business_divisions[i]['division_name'] %> </option>
                                        <% } %>

                                    </select>
                                    <label class="error_mgs_lable" id="business_division_id_error"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group custom-select-outer">
                                    <label>District<em>*</em></label>
                                    <input type="hidden" value="<%=results.business_district_primary_id%>" id="business_district_id_primary_id" name="business_district_primary_id" >
                                    <select name="business_district_id" id="business_district_id" class="select2 inputtxt emptyValidation onChangeForPrimaryId"
                                            formType="agreement" onChange="getDbValuesByIds(this, 'Tehsil', ['district_id', 'is_active'], [this.options[this.selectedIndex].getAttribute('primaryId'), 1], 'tehsil_name asc', 'business_tehsil_id', ['id', 'tehsil_name'], []);"
                                            >
                                        <option value="">-Please Select-</option>
                                        <% for(var i=0; i < data.business_district.length; i++) { %>
                                        <option <% if(data.business_district[i]['id'] == results.business_district_primary_id){ %> selected <% } %> primaryId="<%= data.business_district[i]['id'] %>" value="<%= data.business_district[i]['district_name'] %>" > <%= data.business_district[i]['district_name'] %> </option>
                                        <% } %>
                                    </select>
                                    <label class="error_mgs_lable" id="business_district_id_error"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group custom-select-outer">
                                    <label>Tehsil <em>*</em></label>
                                    <input type="hidden" value="<%=results.business_tehsil_primary_id%>" id="business_tehsil_id_primary_id" name="business_tehsil_primary_id" >
                                    <select name="business_tehsil_id" id="business_tehsil_id" class="select2 inputtxt emptyValidation onChangeForPrimaryId" formType="agreement" >
                                        <option value="">-Please Select-</option>
                                        <% for(var i=0; i < data.business_tehsil.length; i++) { %>
                                        <option <% if(data.business_tehsil[i]['id'] == results.business_tehsil_primary_id){ %> selected <% } %> primaryId="<%= data.business_tehsil[i]['id'] %>" value="<%= data.business_tehsil[i]['tehsil_name'] %>" > <%= data.business_tehsil[i]['tehsil_name'] %> </option>
                                        <% } %>
                                    </select>
                                    <label class="error_mgs_lable" id="business_tehsil_id_error"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Pincode</label>
                                    <input type="text" value="<%=results.business_pincode%>" class="form-control" name='business_pincode' id="business_pincode">
                                    <label class="error_mgs_lable" id="business_pincode_error"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group custom-select-outer">
                                    <label>Place of Arbitration<em>*</em></label>
                                    <select name="place_of_arbitration" id="place_of_arbitration" class="select2 inputtxt emptyValidation"  >
                                        <option value="">-Please Select-</option>
                                        <% for(var i=0; i < data.states_is_business.length; i++) { %>
                                            <option <% if(results.place_of_arbitration == data.states_is_business[i]['state_name']){ %> selected <% } %> value="<%= data.states_is_business[i]['state_name'] %>"><%= data.states_is_business[i]['state_name'] %></option>
                                        <% } %>
                                    </select>
                                    <label class="error_mgs_lable" id="place_of_arbitration_error"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group custom-select-outer">
                                    <label>Business Turn Over <em>*</em></label>
                                    <input type="hidden" value="<%=results.business_turn_over_primary_id%>" id="business_turn_over_primary_id" name="business_turn_over_primary_id" >
                                    <select name="business_turn_over" id="business_turn_over" class="select2 inputtxt emptyValidation onChangeForPrimaryId"  >
                                        <option value="">-Please Select-</option>
                                        <% data.membership_plans.forEach(function(value){
                                        if(typeof value.membership_plan_fees[0] != 'undefined'){
                                        %>
                                        <option <% if(value.id == results.business_turn_over_primary_id){ %> selected <% } %> primaryId="<%= value.id %>" value="<%= value.min_amount %>--<%= value.max_amount%>@!@#<%= value.plan_title%>" >Between Rs. <%= value.min_amount %> to Rs. <%= value.max_amount%></option>
                                        <%
                                        }
                                        }) %>
                                    </select>
                                    <label class="error_mgs_lable" id="business_turn_over_error"></label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Personal info</div>
                    <div class="panel-body">
                        <div class="row form-row">
                            <div class="col-md-2">
                                <div class="form-group custom-select-outer">
                                    <label class="labeled">Name of Authority <em>*</em></label>
                                    <select   name="authority_relation_of" id="authority_relation_of" class="select2 inputtxt">
                                        <option <% if(results.authority_relation_of == 'Mr.'){ %> selected <% } %> value="Mr.">Mr.</option>
                                        <option <% if(results.authority_relation_of == 'Mrs.'){ %> selected <% } %> value="Mrs.">Mrs.</option>
                                        <option <% if(results.authority_relation_of == 'Miss.'){ %> selected <% } %> value="Miss.">Miss.</option>
                                        <option <% if(results.authority_relation_of == 'Ms.'){ %> selected <% } %> value="Ms.">Ms.</option>
                                    </select>
                                    <label class="error_mgs_lable" id="authority_relation_of_error"></label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">&nbsp;</label>
                                    <input type="text" value="<%=results.authority_name%>" class="form-control emptyValidation"  name='authority_name' id="authority_name">
                                    <label class="error_mgs_lable" id="authority_name_error">
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Designation<em>*</em></label>
                                    <input type="text" value="<%=results.authority_designation%>" class="form-control emptyValidation"  name='authority_designation' id="authority_designation">
                                    <label class="error_mgs_lable" id="authority_designation_error"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Age in Years<em>*</em></label>
                                    <input type="text" value="<%=results.authority_age%>" class="form-control emptyValidation"  name='authority_age' id="authority_age">
                                    <label class="error_mgs_lable" id="authority_age_error"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Caste</label>
                                    <input type="text" value="<%=results.authority_caste%>" class="form-control"  name='authority_caste' id="authority_caste">
                                    <label class="error_mgs_lable" id="authority_caste_error"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Full Address<em>*</em></label>
                                    <input type="text" value="<%=results.authority_address%>" class="form-control emptyValidation"  name='authority_address' id="authority_address">
                                    <label class="error_mgs_lable" id="authority_address_error"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Town/Kasba<em>*</em></label>
                                    <input type="text" value="<%=results.authority_kasba%>" class="form-control emptyValidation"  name='authority_kasba' id="authority_kasba">
                                    <label class="error_mgs_lable" id="authority_kasba_error"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group custom-select-outer">
                                    <label>Country</label>
                                    <input type="hidden" value="<%=results.authority_country_primary_id%>" id="authority_country_id_primary_id" name="authority_country_primary_id" >
                                    <select   name="authority_country_id" id="authority_country_id" class="select2 inputtxt emptyValidation onChangeForPrimaryId"
                                              formType="agreement" onChange="getDbValuesByIds(this, 'State', ['country_id', 'is_active'], [this.options[this.selectedIndex].getAttribute('primaryId'), 1], 'state_name asc', 'authority_state_id', ['id', 'state_name'], ['authority_division_id', 'authority_district_id', 'authority_tehsil_id']);"
                                              >
                                        <% for(var i=0; i < data.countries.length; i++) { %>
                                        <option primaryId="<%= data.countries[i]['id'] %>" value="<%= data.countries[i]['country_name'] %>" > <%= data.countries[i]['country_name'] %> </option>
                                        <% } %>
                                    </select>
                                    <label class="error_mgs_lable" id="authority_country_id_error"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group custom-select-outer">
                                    <label>State <em>*</em></label>
                                    <input type="hidden" value="<%=results.authority_state_primary_id%>" id="authority_state_id_primary_id" name="authority_state_primary_id" >
                                    <select   name="authority_state_id" id="authority_state_id" class="select2 inputtxt emptyValidation onChangeForPrimaryId"
                                              formType="agreement" onChange="getDbValuesByIds(this, 'Division', ['state_id', 'is_active'], [this.options[this.selectedIndex].getAttribute('primaryId'), 1], 'division_name asc', 'authority_division_id', ['id', 'division_name'], ['authority_district_id', 'authority_tehsil_id']);"
                                              >
                                        <option value="">-Please Select-</option>
                                        <% for(var i=0; i < data.authority_states.length; i++) { %>
                                        <option <% if(data.authority_states[i]['id'] == results.authority_state_primary_id){ %> selected <% } %> primaryId="<%= data.authority_states[i]['id'] %>" value="<%= data.authority_states[i]['state_name'] %>" > <%= data.authority_states[i]['state_name'] %> </option>
                                        <% } %>
                                    </select>
                                    <label class="error_mgs_lable" id="authority_state_id_error"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group custom-select-outer">
                                    <label>Division <em>*</em></label>
                                    <input type="hidden" value="<%=results.authority_division_primary_id%>" id="authority_division_id_primary_id" name="authority_division_primary_id" >
                                    <select   name="authority_division_id" id="authority_division_id" class="select2 inputtxt emptyValidation onChangeForPrimaryId"
                                              formType="agreement" onChange="getDbValuesByIds(this, 'District', ['division_id', 'is_active'], [this.options[this.selectedIndex].getAttribute('primaryId'), 1], 'district_name asc', 'authority_district_id', ['id', 'district_name'], ['authority_tehsil_id']);"
                                              >
                                        <option value="">-Please Select-</option>
                                        <% for(var i=0; i < data.authority_divisions.length; i++) { %>
                                        <option <% if(data.authority_divisions[i]['id'] == results.authority_division_primary_id){ %> selected <% } %> primaryId="<%= data.authority_divisions[i]['id'] %>" value="<%= data.authority_divisions[i]['division_name'] %>" > <%= data.authority_divisions[i]['division_name'] %> </option>
                                        <% } %>
                                    </select>
                                    <label class="error_mgs_lable" id="authority_division_id_error"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group custom-select-outer">
                                    <label>District <em>*</em></label>
                                    <input type="hidden" value="<%=results.authority_district_primary_id%>" id="authority_district_id_primary_id" name="authority_district_primary_id" >
                                    <select name="authority_district_id" id="authority_district_id" class="select2 inputtxt emptyValidation onChangeForPrimaryId"
                                            formType="agreement" onChange="getDbValuesByIds(this, 'Tehsil', ['district_id', 'is_active'], [this.options[this.selectedIndex].getAttribute('primaryId'), 1], 'tehsil_name asc', 'authority_tehsil_id', ['id', 'tehsil_name'], []);"
                                            >
                                        <option value="">-Please Select-</option>
                                        <% for(var i=0; i < data.authority_district.length; i++) { %>
                                        <option <% if(data.authority_district[i]['id'] == results.authority_district_primary_id){ %> selected <% } %> primaryId="<%= data.authority_district[i]['id'] %>" value="<%= data.authority_district[i]['district_name'] %>" > <%= data.authority_district[i]['district_name'] %> </option>
                                        <% } %>
                                    </select>
                                    <label class="error_mgs_lable" id="authority_district_id_error"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group custom-select-outer">
                                    <label>Tehsil <em>*</em></label>
                                    <input type="hidden" value="<%=results.authority_tehsil_primary_id%>" id="authority_tehsil_id_primary_id" name="authority_tehsil_primary_id" >
                                    <select name="authority_tehsil_id" id="authority_tehsil_id" class="select2 inputtxt emptyValidation onChangeForPrimaryId" formType="agreement" >
                                        <option value="">-Please Select-</option>
                                        <% for(var i=0; i < data.authority_tehsil.length; i++) { %>
                                        <option <% if(data.authority_tehsil[i]['id'] == results.authority_tehsil_primary_id){ %> selected <% } %> primaryId="<%= data.authority_tehsil[i]['id'] %>" value="<%= data.authority_tehsil[i]['tehsil_name'] %>" > <%= data.authority_tehsil[i]['tehsil_name'] %> </option>
                                        <% } %>
                                    </select>
                                    <label class="error_mgs_lable" id="authority_tehsil_id_error"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group custom-select-outer">
                                    <label for="exampleInputEmail1">Pincode</label>
                                    <input type="text" value="<%=results.authority_pincode%>" class="form-control"  name='authority_pincode' id="authority_pincode_id">
                                    <label class="error_mgs_lable" id="authority_pincode_id_error"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group custom-select-outer">
                                    <label>Govt. ID Type </label>
                                    <select name="authority_government_type" id="authority_government_type" class="select2 inputtxt" >
                                        <option value="">-Please Select-</option>
                                        <% data.government_id_types.forEach(function(value){ %>
                                        <option <% if(value.government_id_type_name == results.authority_government_type){ %> selected <% } %> value="<%= value.government_id_type_name%>"><%= value.government_id_type_name%></option>
                                        <% }) %>
                                    </select>
                                    <label class="error_mgs_lable" id="authority_government_type_error"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Govt. ID Number</label>
                                    <input type="text" value="<%=results.authority_government_id_number%>" class="form-control"  name='authority_government_id_number' id="authority_government_id_number">
                                    <label class="error_mgs_lable" id="authority_government_id_number_error"></label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Mobile Number<em>*</em></label>
                                    <input type="text" value="<%=results.authority_mobile%>" class="form-control emptyValidation"  name='authority_mobile' id="authority_mobile">
                                    <label class="error_mgs_lable" id="authority_mobile_error"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <label for="exampleInputEmail1">Email Address<em>*</em></label>
                                    <input type="text" value="<%=results.authority_email%>" class="form-control emptyValidation emailValidation"  name='authority_email' id="authority_email">
                                    <label class="error_mgs_lable" id="authority_email_error"></label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Aadhar Number</label>
                                    <input type="text" value="<%=results.authority_aadhar%>" class="form-control"  name='authority_aadhar' id="authority_aadhar">
                                    <label class="error_mgs_lable" id="authority_aadhar_error"></label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Membership Plan (as per your Business Turnover)</div>
                    <div class="panel-body">
                        <div class="table-responsive no-padding">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Plan Name</th>
                                        <th>Number of Years</th>
                                        <th>Registration Fee</th>
                                        <th>Membership Fee</th>
                                        <th>Taxes</th>
                                        <th>Total Payable Amount</th>
                                        <th>Select One</th>
                                    </tr>
                                </thead>
                                <tbody class="taxes_detail_table">
                                    <% if(results.selected_plan_year){%>
                                    <% fee.forEach(function(rows){ %>
                                    <tr>
                                        <td><%= rows.plan_title%></td>
                                        <td><%= rows.number_of_years%></td>
                                        <td>Rs. <%= rows.registration_fee.toFixed(2)%></td>
                                        <td>Rs. <%= rows.fees.toFixed(2)%></td>
                                        <td>Rs. <%= rows.total_tax.toFixed(2)%></td>
                                        <td>Rs. <%= rows.pay_amount.toFixed(2)%></td>
                                        <td><input <% if(results.selected_plan_year == rows.number_of_years){ %>checked  <% } %> value="<%= rows.number_of_years%>" type="radio" name="selected_plan_year"></td>
                                    </tr>
                                    <% }); } %>
                                </tbody>
                            </table>
                        </div>
                        <label class="error_mgs_lable" id="selected_plan_year_error"></label>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">Invoice Information</div>
                    <div class="panel-body">
                        <div class="">
                            <div class="position_relative" >
                                <div class="position_relative">
                                    <div class="panel panel-default" id="">
                                        <div class="panel-body panel-grey">

                                            <div class="row form-row">
                                                <div class="col-md-3 col-xs-12">
                                                    <label> Billing To <em>*</em></label>
                                                    <input type="text" value="<%=results.invoice_billing_to%>" name="invoice_billing_to" id="invoice_billing_to" class="inputtxt emptyValidation">
                                                    <label class="error_mgs_lable" id="invoice_billing_to_error"></label>
                                                </div>

                                                <div class="col-md-3 col-xs-12">
                                                    <label> Address</label>
                                                    <input type="text" value="<%=results.invoice_address%>" name="invoice_address" id="invoice_address" class="inputtxt" >
                                                    <label class="error_mgs_lable" id="invoice_address_error"></label>
                                                </div>



                                                <div class="col-md-3 col-xs-12">
                                                    <label> GSTIN</label>
                                                    <input type="text" value="<%=results.invoice_gst_no%>" name="invoice_gst_no" id="invoice_gst_no" class="inputtxt">
                                                    <label class="error_mgs_lable" id="invoice_gst_no_error"></label>
                                                </div>

                                                <div class="col-md-3 col-xs-12">
                                                    <label>State <em>*</em> </label>
                                                    <input type="hidden" value="<%=results.invoice_state_code%>" name="invoice_state_code" id="invoice_state_code" class="inputtxt emptyValidation">
                                                    <input type="hidden" value="<%=results.invoice_state_id_primary_id%>" id="invoice_state_id_primary_id" name="invoice_state_id_primary_id" >
                                                    <select name="invoice_state_id" id="invoice_state_id" class="onChangeForStateCode  inputtxt onChangeForPrimaryId emptyValidation"
                                                            formType="agreement" onChange="getDbValuesByIds(this, 'Division', ['state_id', 'is_active'], [this.options[this.selectedIndex].getAttribute('primaryId'), 1], 'division_name asc', 'invoice_division_id', ['id', 'division_name'], ['invoice_district_id', 'invoice_tehsil_id']);"
                                                            >
                                                        <option value="">State</option>
                                                        <% for(var i=0; i < data.invoice_states.length; i++) { %>
                                                        <option <% if(data.invoice_states[i]['id'] == results.invoice_state_id_primary_id){ %> selected <% } %> state_code="<%= data.invoice_states[i]['state_code'] %>" primaryId="<%= data.invoice_states[i]['id'] %>" value="<%= data.invoice_states[i]['state_name'] %>" >
                                                            <%= data.invoice_states[i]['state_name'] %>
                                                    </option>
                                                    <% } %>
                                                </select>
                                                <label class="error_mgs_lable" id="invoice_state_id_error"></label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="box-footer">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="button" class="btn btn-primary button-next" style=" float: left;" id="saveAsDraft">Save as Draft</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="/admin/<%= extraVar.viewDirectory %>/issue_listings" class="btn btn-primary">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

</section>
<script src="/admin/js/membership_issue.js"></script>
<script>

                                                                //For Country drop down - selected India and primary id assign to hidden input
                                                                $('.onChangeForPrimaryId').each(function (index, value) {
                                                                    var thisVar = $(this);
                                                                    var valueSelected = $('option:selected', thisVar).val();

                                                                    if (valueSelected == 'India') {
                                                                        var primary_id_text = $(thisVar).attr('id');
                                                                        var id_value = $('option:selected', thisVar).attr('primaryid');
                                                                        $('#' + primary_id_text + '_primary_id').val(id_value);
                                                                    }
                                                                });

                                                                $(document).on('change', '#business_turn_over', function () {
                                                                    var thisObj = $(this);
                                                                    var id_value = $('option:selected', thisObj).attr('primaryid');
                                                                    var state_id = $('#invoice_state_id option:selected').val();

                                                                    var formData = {
                                                                        membership_id: id_value,
                                                                        state_id: state_id,
                                                                    }
                                                                    $.ajax({
                                                                        url: '/admin/membership_plans/calculate_tax',
                                                                        data: formData,
                                                                        dataType: 'json',
                                                                        method: "POST",
                                                                        cache: false,
                                                                        success: function (response) {
                                                                            console.log(response);
                                                                            var makeHtml = '';
                                                                            $('.taxes_detail_table').html('');
                                                                            $.each(response, function (index, value) {
                                                                                makeHtml = '<tr><td>' + value.plan_title + '</td><td>' + value.number_of_years + '</td><td>Rs. ' + value.registration_fee.toFixed(2) + '</td><td>Rs. ' + value.fees.toFixed(2) + '</td><td>Rs. ' + value.total_tax.toFixed(2) + '</td><td>Rs. ' + value.pay_amount.toFixed(2) + '</td><td><input value="' + value.number_of_years + '" type="radio" name="selected_plan_year"></td></tr>';
                                                                                $('.taxes_detail_table').append(makeHtml);
                                                                            });

                                                                        }, error: function (response) {

                                                                        }
                                                                    })

                                                                });
</script>
