  <%-    include('../helper/Heading-Page.ejs', {title:'Add'}); %>
<section class="content">
     <div class="box box-primary">
            <div class="filterBar">
                <div class="filterBarRight">
                   <a href="/admin/<%= extraVar.viewDirectory %>/<%= extraVar.product_id %>" class="btn-view-list"><i class="fa fa-list" aria-hidden="true"></i> View Listing</a>
                </div>
            </div>
              
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" id='formSubmit' name='' method='post' action='/admin/<%= extraVar.viewDirectory %>/create' enctype="multipart/form-data">
                    <input type="hidden" name='product_id' value='<%= extraVar.product_id %>'>
                    <div class="box-body">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Head Name<em>*</em> </label>

                                                <input type="text" class="form-control" id="heads_name" name='heads_name' value=''>
                                                <label class="error_mgs_lable" id="heads_name_error"></label>

                                            </div>

                                    </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="chk-outer">
                                                                            
                                                        <input type="checkbox" name="is_active"  id="is_active" checked >  <label for="is_active">  Status   </label>
                                                  
                                                </div>
                                            </div>
                                        </div>
                                     </div>
                                    </div>
                                </div>
                            </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                    <div class="row">
                        <div class="col-md-12 text-right">
                              <%- include('../helper/commonHtml.ejs', {htmlType:'SaveCancel'}); %>
                        </div>
                    </div>
                         
                </div>
                    
                </form>
            </div>
            <!-- /.box -->


</section>